.tabmenu {
  top: 1000px;
}

.tabbox {
  display: flex;
  justify-content: space-around;
}

.menubox {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainbox {
  color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.movebox {
  background-color: rgb(97, 97, 97);
  width: 33.3%;
  height: 150px;
  border-radius: 1px;
  border: 1px solid #fff;
}
