.tabmenu {
  top: 1000px;
}

.tabbox {
  display: flex;
  justify-content: space-around;
}

.menubox {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainbox {
  color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.movebox {
  position: relative;
  background-color: rgb(97, 97, 97);
  width: 33.3%;
  height: 150px;
  border-radius: 1px;
  border: 1px solid #fff;
}


.backbutton {
  position: absolute; /* movebox の相対位置に固定 */
  top: 5px; /* movebox の上からの距離 */
  right: 5px; /* movebox の右からの距離 */
  width: 20px; /* 必要に応じてサイズを調整 */
  height: 30px; /* 必要に応じてサイズを調整 */
  z-index: 1001; /* movebox内で最前面に表示 */
  background-color: none; /* 背景色はそのまま */
  color: #fff;
  font-size: 20px;
}
