.menuContainer {
  position: relative;
}

.hamburger {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 25px;
  width: 28px;
  padding-bottom: 2px;
  padding-top: 0;
}

.line {
  width: 80%;
  height: 2px;
  background-color: #fff;
  transition: all 0.3s ease;
  position: relative;
}

.lineOpen {
  background-color: #fff; /* 開いた時の色を透明に */
}

.lineClose {
  position: absolute;
}

.lineClose:nth-child(1) {
  transform: rotate(45deg);
  top: 10px; /* 上の線の位置調整 */
  width: 40%;
}

.lineClose:nth-child(2) {
  opacity: 0; /* 中央の線を非表示に */
  width: 0%;
}

.lineClose:nth-child(3) {
  transform: rotate(-45deg);
  top: 10px; /* 下の線の位置調整 */
  width: 40%;
}

.nav {
  position: absolute;
  top: 25px; /* ハンバーガーメニューの下に表示 */
  left: -10px;
  background-color: #333;
  width: 500%;
  height: 100vh;
  z-index: 1;
}

.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav li {
  padding: 5px 20px;
  width: 200px;
}

.nav a {
  color: #fff;
  text-decoration: none;
}

.nav a:hover {
  text-decoration: underline;
}
