// UserCard.module.scss
.card {
  max-width: 640px; /* max-w-screen-sm */
  border-radius: 1.5rem; /* rounded-3xl */
  box-shadow: 0 10px 15px rgba(223, 177, 177, 0.1); /* shadow-xl */
  overflow: hidden;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  .cover {
    grid-column: span 1;
    background: linear-gradient(to right top, #e5e7eb, #f9fafb); /* bg-gradient-to-tr bg-gray-200 */
    position: relative;

    img {
      object-fit: cover;
      height: 100%; /* h-full */
    }
  }

  .content {
    grid-column: span 2;
    display: flex;
    align-items: center;
    background: rgb(71, 71, 71); /* bg-white */
    padding: 1.5rem; /* p-6 */
    @media (min-width: 640px) {
      padding: 2.5rem; /* sm:p-10 */
    }

    .title {
      font-weight: bold;
      font-size: 1.25rem; /* text-xl */
      @media (min-width: 640px) {
        font-size: 1.5rem; /* sm:text-2xl */
      }
      margin-bottom: 0.25rem; /* mb-1 */
    }

    .subtitle {
      color: #6b7280; /* text-gray-500 */
      font-size: 0.875rem; /* text-sm */
      @media (min-width: 640px) {
        font-size: 1rem; /* sm:text-base */
      }
    }

    .description {
      color: #6b7280; /* text-gray-500 */
      margin-top: 1rem; /* mt-4 */
      @media (min-width: 640px) {
        margin-top: 1.5rem; /* sm:mt-6 */
      }
      font-size: 0.875rem; /* text-sm */
      @media (min-width: 640px) {
        font-size: 1rem; /* sm:text-base */
      }
    }

    .links {
      display: flex;
      gap: 1.25rem; /* gap-5 */
      margin-top: 2rem; /* mt-8 */
      font-size: 1.125rem; /* text-lg */
      flex-wrap: wrap;
    }
  }
}
