.mainbox {
  margin-top: 50px; /* headerの下に少しだけスペースを追加 */
  background-color: #fff;
  width: 100%;
  min-height: calc(100vh - 60px); /* 画面全体の高さからtabmenuの高さを引く */
  padding-bottom: 60px; /* tabmenuと重ならないようにパディングを追加 */
}

.tabmenu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  height: 40px;
  z-index: 1000; /* コンテンツより上に表示するための設定 */
  margin: 0; /* 追加のマージンを削除 */
  padding: 0; /* 不要なパディングを削除 */
}

.tabbox {
  display: flex;
  justify-content: space-around;
  background-color: #fff;
}

.menubox {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #000;
  border-bottom: 2px solid rgb(235, 235, 235);
}

.icon {
  width: 24px;
  height: 24px;
  color: #000; /* 初期状態のアイコン色 */
  fill: none; /* 内側を透明に */
  stroke: #000; /* 外側の線の色 */
  stroke-width: 1px; /* 線の太さ */
}

.iconClicked {
  width: 24px;
  height: 24px;
  color: #000; /* クリック後のアイコン色 */
  fill: #000; /* クリック後の内側の色を白に */
  stroke: #000; /* 外側の線の色 */
  stroke-width: 1px; /* 線の太さ */
}

.icon2 {
  width: 24px;
  height: 24px;
  color: #000; /* 初期状態のアイコン色 */
  fill: none; /* 内側を透明に */
  stroke: #000; /* 外側の線の色 */
  stroke-width: 1px; /* 線の太さ */
}

.iconClicked2 {
  width: 24px;
  height: 24px;
  color: #000; /* クリック後のアイコン色 */
  fill: #000; /* クリック後の内側の色を白に */
  stroke: #000; /* 外側の線の色 */
  stroke-width: 1px; /* 線の太さ */
}

.hiddenElement {
  position: absolute; /* 位置を完全にページ外にする */
  left: -9999px; /* 画面外に移動 */
  top: -9999px; /* 画面外に移動 */
  width: 0; /* サイズを0にする */
  height: 0;
}

.react-tabs__tab-panel {
  position: relative;
  margin: 0;
  padding: 0;
  height: auto; /* 必要に応じて高さを調整 */
}

.textbox {
  width: 100%;
  display: block; /* タブがクリックされた時に表示 */
  z-index: 999; /* アイコンの上に表示されるようにする */
  position: absolute; /* 絶対位置にする */
  bottom: 60px; /* tabmenuの上に配置 */
  color: #fff; /* テキストを見やすくするための色 */
  padding: 10px;
}
