.moviebox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.mainbox1 {
  display: flex;
  justify-content: center;
  align-items: end;
  background-color: none;
  width: 100%;
  height: 100px;
  padding: 10px;
  position: absolute; /* position: absolute に変更 */
  bottom: 50px; /* moviebox の下に配置 */
  z-index: 1001; /* moviebox よりも低い値を設定 */
  // box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.shokaiarea {
  bottom: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.saisei {
  height: 40px;
  display: flex;
  align-items: center;
  color: #fff;
  margin: 0px 10px;
  background-color: none;
}

.backbutton {
  position: fixed; /* または absolute */
  background-color: none;
  width: 30px;
  height: 30px; /* 高さも設定 */
  top: 10px; /* 上からの距離 */
  right: 10px; /* 右からの距離 */
  z-index: 1001; /* 最前面に表示 */
}

.inputbox {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

.serihubox {
  border-radius: 50px;
  padding: 10px;
  height: 40px;
  width: 90%;
}

.serihubox1 {
  display: flex;
  justify-content: center;
  width: 100%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.serihubox2 {
  display: flex;
  justify-content: center;
  width: 100%;
  color: #fff;
  background-color: #1d1c1c;
  border-radius: 50px;
  padding: 10px;
  border: none;
}

.hozon {
  width: 70px;
  height: 30px;
  border-radius: 5px;
  border: 2px solid #000; /* 枠を表示させる */
  background-color: rgba(0, 0, 0, 0.3);
  color: #dbdada;
  font-size: 16px;
  font-weight: 400;
  z-index: 9999;
}

.hozonbox {
  display: flex;
  justify-content: center;
  margin: 10px;
  width: 70px;
  z-index: 1001;
}

.subtitleDisplay {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  font-size: 25px;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 10px;
  padding: 10px;
  min-height: 40px;
  z-index: 2000;
  bottom: 200px; /* 下から20pxの位置に表示 */
  position: absolute; /* 位置を調整するためにpositionをabsoluteに設定 */
}

.startbox {
  width: 30px;
  display: flex;
  // padding-left: 15px;
}

.endbox {
  width: 30px;
  display: flex;
  // padding-left: 15px;
}

.subtitleItem {
  position: relative;
}

.deleteButton {
  position: absolute;
  top: 0;
  right: 0;
  background: red;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 20px;
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.editableSubtitleInput {
  width: 100%;
  font-size: 18px;
  padding: 5px;
}

.timebox {
  display: flex;
  font-size: 13px;
  align-items: center;
  margin: 0px 10px 10px 10px;
}

.tbox {
  display: flex;
}
