.mainbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  z-index: 1000;
}

.formbox {
  margin: 10px;
  background-color: rgb(15, 15, 15);
  height: 200px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}

.mailbox {
  width: 400px;
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}

.pwbox {
  width: 400px;
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}

.label1 {
  width: 120px;
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 0px 10px;
}

.inputbox {
  width: 250px;
  height: 30px;
  padding: 10px;
}

.loginbutton {
  width: 80px;
  height: 30px;
  background-color: rgb(54, 53, 53);
  border: none;
  border-radius: 3px;
}

.loginbutton:hover {
  width: 80px;
  height: 30px;
  background-color: rgb(41, 40, 40);
  border: none;
  border-radius: 3px;
}

.eyeIcon {
  position: absolute;
  right: 365px;
  top: 343px;
  cursor: pointer;
  user-select: none; /* テキスト選択を無効化 */
  font-size: 18px;
}

.errorbox {
  z-index: 9999; /* 他の要素より高い値に設定 */
  display: flex;
  justify-content: center;
  width: 250px;
  height: 30px;
  position: absolute; /* 絶対位置指定 */
  top: 450px; /* ウィンドウ上部からの距離を指定 */
  left: 50%; /* 横方向の中央に配置 */
  transform: translateX(-50%); /* 左右中央に正確に配置 */
  color: white; /* 文字色 */
  border-radius: 5px; /* 角を丸くする */
  padding: 5px; /* 内側に余白を追加 */
}
