.headerbox {
  height: 50px; /* headerの高さを指定 */
  background-color: #f0f0f0; /* 背景色などを指定して見やすくすることも可能 */
}

.episodebox {
  margin-top: 50px; /* headerの下にスペースを作る */
  z-index: 999;
}

.h-box {
  z-index: 1000;
}