.menubox {
  padding: ï¼‘0px;
  background-color: #000;
  // display: flex;
  // justify-content: center;
  // align-items: center;
} 

.title1 {
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.item {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7c7a7a;
  border: 1px solid #ddd;
  border-radius: 3px;
  // padding: 10px;
  // margin: 10px;  
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.itembox {
  margin: 5px;
}
