.menubox {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 10px;
  background-color: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 100);
}

// .icon {
//   width: 24px;
//   height: 24px;
//   color: #fff;
// }


.icon {
  width: 24px;
  height: 24px;
  color: #fff; /* 初期状態のアイコン色 */
  fill: none; /* 内側を透明に */
  stroke: #fff; /* 外側の線の色 */
  stroke-width: 1px; /* 線の太さ */
}

.iconClicked {
  width: 24px;
  height: 24px;
  color: #fff; /* クリック後のアイコン色 */
  fill: #fff; /* クリック後の内側の色を白に */
  stroke: #fff; /* 外側の線の色 */
  stroke-width: 1px; /* 線の太さ */
}

.iconClicked2 {
  width: 24px;
  height: 24px;
  color: #fff; /* クリック後のアイコン色 */
  fill: #fff; /* クリック後の内側の色を白に */
  stroke: #fff; /* 外側の線の色 */
  stroke-width: 1px; /* 線の太さ */
  // background-color: #fff;
}