.tabmenu {
  top: 1000px;
}

.submenubox {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.tabbox {
  display: flex;
  justify-content: center;
  width: 90%;
  height: 30px;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
}

.menubox {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainbox {
  color: black;
}