.avatar {
  display: block;
  border-radius: 50%;
  width: 2.0rem; /* 10 units */
  height: 2.0rem; /* 10 units */
  position: relative; /* 位置を相対的に設定 */
  top: -1px; /* 上からの距離を10pxに設定 */
  left: -20px; /* 左からの距離を5pxに設定 */
  z-index: 1001;
}


.placeholder {
  width: 2.0rem; /* 10 units */
  height: 2.0rem; /* 10 units */
  background-color: #cbd5e1; /* gray-400 */
  border-radius: 50%;
  z-index: 1001;
}
